.hero {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  z-index: 10; // Ensure it's above the 3D simulation
}

.title {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  line-height: 1;
}

.description {
  font-family: 'Courier New', monospace;
  font-size: 16px;
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.missionButton {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 24px;
  font-family: 'Courier New', monospace;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    background-color: white;
    color: black;
  }
}