.timelineWrapper {
  position: absolute;
  top: 42rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
}

.timelineGuidance {
  color: #fff;
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
}

.timelineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.select {
  flex-grow: 100;
  background: #000;
  color: #fff;
  height: 3.6rem;
  border: 1px solid #fff;
  outline: none;
  font-size: 1rem;
  padding: 0 1rem;
  font-size: 1.25rem;
}

.apply {
  padding: 0.6rem 0.5rem;
  width: 8rem;
  margin: 0.2rem;
  border: none;
  border-radius: 0.5rem;
  background: #fff;
  color: #000;
  cursor: pointer;
  @-moz-document url-prefix() {
    padding: 0.5rem 1rem;
  }
}